<div class="block ad-back-to-top">
  <div class="fr-container fr-pt-3w fr-pb-3w">
    <a class="fr-link fr-icon-arrow-up-fill fr-link--icon-left" href="#top">
      Haut de page
    </a>
  </div>
</div>
