<div class="block">
  <div class="fr-container fr-pt-3w fr-pt-md-7w fr-pb-3w fr-pb-md-7w">
    <h2>{{ title }}</h2>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
      {% if collection_genres.is_displayed %}

   {# {% set file_url = file_url(collection_genres.icon) %}


        <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
          {{ pattern('tile', {
            title_tag: 'p',
            'title': {
              '#type': 'html_tag',
              '#tag': 'a',
              '#value': collection_genres.data.title,
              '#attributes': {
                'href': collection_genres.data.url,
              }
            },
            image: {
              '#type': 'render',
              '#theme': 'image',
              '#uri': file_url,
            },
            enlarge_link: true,
            icon: true,
          }) }}

        </div> #}
      {% endif %}

      {{ collections }}

      {{ collection_genres }}

    </div>
  </div>
</div>

