<div class="block">
  <div class="fr-container fr-pt-3w fr-pt-md-7w fr-pb-3w">
    <h2>{{ title }}</h2>

    <ul class="fr-grid-row fr-grid-row--gutters fr-mt-3w fr-mb-3w">
      {% for movie in movies %}
        <li class="fr-col-12 fr-col-lg-6">
          {{ movie }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
