<div class="ad-movie__block-contact">
  <div class="fr-container fr-pb-3w fr-pb-md-7w fr-pt-3w fr-pt-md-7w">
    <h2>{{ title }}</h2>
    {{ description|raw }}

    {% set url = 'mailto:' ~ email %}
    <a href="{{ url }}">{{ email }}</a>
  </div>

</div>
