<div class="ad-search-block" id="search" tabindex="-1">
  <div class="fr-container fr-pb-3w fr-pb-md-7w fr-pt-3w fr-pt-md-7w">
    <h2>{{ title }}</h2>

    <div class="fr-grid-row">
      <div class="fr-col-12 fr-col-lg-8">
        {{ form }}
      </div>
    </div>
  </div>
</div>
