<div class="fr-container fr-pt-3w fr-pt-md-7w fr-pb-3w fr-pb-md-7w">
    <h2>{{ term.name.value }}</h2>
    {{ term.field_taxo_short_desc.value|class2wysiwygP('fr-text--lead')|raw }}

    {% set movies = term.field_taxo_movies %}


    {% for data in movies | slice(0, 2) %}
      {% set movie = data.entity %}
      {% if movie.entityTypeId == 'node' %}
        {% include '@ad_theme/node/node--movie--teaser.html.twig' with { 'node': movie, 'url': urls[movie.nid.value] } %}
      {% endif %}
    {% endfor %}


    <div class="fr-mb-3w">
      <div class="fr-btns-group--inline-md fr-btns-group--center fr-btns-group">
        {{ pattern('button', {
          label: term.field_taxo_label_button_see_all.value,
          url: url,
          target: 'self',
        }, 'primary') }}
      </div>

    </div>
  </div>
