{% set description = term.field_taxo_short_desc.value ?? '' %}

{% set file_url = file_url(term.field_taxo_icon.entity.field_media_image.entity.uri.value) %}
{% set url = '/recherche?search=&genre[0]=' ~ term.tid.value %}

<div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
  {{ pattern('tile', {
    title_tag: 'p',
    'title': {
      '#type': 'html_tag',
      '#tag': 'a',
      '#value': term.name.value,
      '#attributes': {
        'href': url,
      },
    },
    image: {
      '#type': 'render',
      '#theme': 'image',
      '#uri': file_url,
    },
    enlarge_link: true,
    icon: true,
  }) }}

</div>
