<div class="fr-container fr-pt-3w fr-pt-md-7w fr-pb-3w fr-pb-md-7w">
    <h2>{{ term.name.value }}</h2>
    {{ term.description.value|class2wysiwygP('fr-text--lead')|raw }}

    {% set movies = term.field_taxo_movies %}
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
      {% for data in movies | slice(0, 2) %}
        <div class="fr-col-lg-6 fr-col-12">
          {% set movie = data.entity %}
          {% set movie_url = path('entity.node.canonical', {'node': movie.id()}) %}
          {% set movie_synopsis = movie.field_synopsis.value|render|striptags %}

          {% if movie_synopsis is empty %}
            {% set movie_synopsis = 'Movies ipsum Accio Brain! The mind is not a book, to be opened at will and examined at leisure. Thoughts are not etched on the inside of skulls, to be perused by an invader. The mind is a complex and many-layered thing. Dobby is free.' %}
          {% endif %}

          {{ pattern('card', {
            title_tag: 'p',
            'title': {
              '#type': 'html_tag',
              '#tag': 'a',
              '#value': movie.title.value,
              '#attributes': {
                'href': movie_url,
              }
            },
            description: movie_synopsis,
            enlarge_link: true
          }, 'vertical') }}
        </div>
      {% endfor %}
    </div>


    <div class="fr-mb-3w">
      <div class="fr-btns-group--inline-md fr-btns-group--center fr-btns-group">
        {{ pattern('button', {
          label: term.field_taxo_label_button_see_all.value,
          url: url,
          target: 'self',
        }, 'secondary') }}
      </div>

    </div>
  </div>
