APP_ENV=dev
APP_DEBUG=1
APP_SECRET=

DATABASE_URL=""

CORS_ALLOW_ORIGIN=''

PATRIMONY_API_KEY=""

WEBEDIA_API_PLATFORM_AUTH_ENDPOINT=""
WEBEDIA_API_PLATFORM_CLIENT_ID=""
WEBEDIA_API_PLATFORM_CLIENT_SECRET=""
WEBEDIA_API_PLATFORM_AUDIENCE=""
WEBEDIA_API_PLATFORM_ROOT_URL=""

OIDC_AD_BASE_URL=""
OIDC_AD_PUBLIC_URL=""
OIDC_AD_CLIENT_ID=""
OIDC_AD_CLIENT_SECRET=""
OIDC_AD_REDIRECT_BASE_URL=""
OIDC_AD_PUBLIC_KEY=""

CANAL_VOD_API_URL=''
CANAL_REPLAY_API_URL=''
CANAL_VOD_API_AUTH_TOKEN=''

ARTE_TV_API_URL=''

ORANGE_VOD_FILENAME=''

FRANCE_TV_API_URL_100_NUM=''
FRANCE_TV_API_URL_PREMIUM=''

TF1_API_USER=''
TF1_API_PASSWORD=''
TF1_API_URL=''

LACINETEK_API_URL=''
LACINETEK_API_AUTH_TOKEN=''

SENDETHIC_ACCOUNT_ID=''
SENDETHIC_API_KEY=''
SENDETHIC_SEGMENT_ID=
