POSTGRES_DB=audiodescription
POSTGRES_USER=audiodescription
POSTGRES_PASSWORD=drupal

S3_ACCESS_KEY=S3KEY
S3_SECRET_KEY=S3SECRET

S3_ENDPOINT=http://s3:9000
S3_BUCKET=audiodescription
S3_REGION=us-east-1
S3_HOSTNAME=s3:9000
S3_DOMAIN=audiodescription.corfm.at:9000
S3_USE_FOR_MAIN_STORAGE=TRUE
S3_USE_FOR_PUBLIC=TRUE
S3_USE_FOR_PRIVATE=TRUE
S3_USE_CUSTOM_HOST=TRUE

PROCONNECT_CLIENT_ID=c2b622eefbc424308a2b901025f91efe119cf952966c2f9dacd2215eb5e3e56f
PROCONNECT_CLIENT_SECRET=eeb9a39f069441a03f8dc53f04abaf75019fbab2ff9be17c3a2b90ebef5c288b
PROCONNECT_DOMAIN=fca.integ01.dev-agentconnect.fr
PROCONNECT_ALGORITHM=RS256