POSTGRES_DB=audiodescription
POSTGRES_USER=audiodescription
POSTGRES_PASSWORD=drupal

S3_ACCESS_KEY=S3KEY
S3_SECRET_KEY=S3SECRET

S3_ENDPOINT=http://s3:9000
S3_BUCKET=audiodescription
S3_REGION=us-east-1
S3_HOSTNAME=s3:9000
S3_DOMAIN=audiodescription.corfm.at:9000
S3_USE_FOR_MAIN_STORAGE=TRUE
S3_USE_FOR_PUBLIC=TRUE
S3_USE_FOR_PRIVATE=TRUE
S3_USE_CUSTOM_HOST=TRUE