.ad-movie-card {
  .fr-card__img {
    img {
      aspect-ratio: initial;
    }
  }

  .fr-card__desc {
    margin-top: .25rem;
    font-size: .85rem;
  }

  .fr-tag {
    margin-top: .25rem;
    font-size: .85rem;
  }

  &__platform {
    order: 5;
    font-size: .85rem;
  }
}

@media (min-width: 768px) {
  .ad-movie-card {
    min-height: 271px !important;

    .fr-card__header {
      flex: 0 0 200px;
      width: 200px;
    }
  }
}


