.ad-movie-card {
  .fr-card__img {
    img {
      aspect-ratio: initial;
    }
  }

  &__platform {
    order: 5;
  }
}

@media (min-width: 768px) {
  .ad-movie-card {
    height: 271px !important;

    .fr-card__header {
      flex: 0 0 200px;
      width: 200px;
    }
  }
}


