.ad-partner-card {
  &.fr-grid-row {
    border: 2px solid #DDD;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    list-style-type: none;
    padding-inline-start: 0;

    &::marker {
      content: none;
    }
  }

  &__title {
    font-weight: bold;
    margin-bottom: .5rem;

    a {
      &::after {
        bottom: 1rem;
        position: absolute;
        right: 1rem;
        background-color: currentColor;
        content: "";
        display: inline-block;
        flex: 0 0 auto;
        height: 1.5rem;
        width: 1.5rem;
        margin-left: .5rem;
        mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTEwIDZ2Mkg1djExaDExdi01aDJ2NmExIDEgMCAwIDEtMSAxSDRhMSAxIDAgMCAxLTEtMVY3YTEgMSAwIDAgMSAxLTFoNlptMTEtM3Y5bC0zLjc5NC0zLjc5My01Ljk5OSA2LTEuNDE0LTEuNDE0IDUuOTk5LTZMMTIgM2g5WiIvPjwvc3ZnPg==);
        mask-size: 100% 100%;
        color: var(--text-active-blue-france);
      }
    }
  }

  &__condition {
    margin-bottom: 1rem;

    p {
      margin: 0;
      font-size: .9rem;
    }
  }

  &__availability {
    p {
      margin: 0;
      font-size: .9rem;
      color: var(--text-mention-grey);
    }
  }

  &__content {
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .ad-partner-card {
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
