.top-bar [href],
#admin-toolbar [href] {
  background-image: none;
  background-position: initial;
  background-repeat: initial;
  transition: none;
  background-size: initial;
}

.top-bar {
  z-index: 1000;
}

.admin-toolbar {
  z-index: 1001;
}
