ol.audiodesc-genres-page {
  padding: 5px !important;
  list-style: none !important;
  counter-reset: none !important;

  li {
    list-style: none !important;
    counter-increment: none !important;

    &::marker,
    &::before {
      content: none !important;
    }
  }
}
