.ad-homepage {
  &__infos {
    &-content {
      order: 2;
    }

    &-image {
      order: 1;
      text-align: center;

      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 992px) {
  .ad-homepage {
    &__infos {
      &-content {
        order: 1;
      }

      &-image {
        order: 2;

        img {
          width: initial;
        }
      }
    }
  }
}
