.ad-movies-list {
  list-style-type: none;
  padding-left: 0;
}

.fr-card--no-hover .fr-card:hover,
.fr-card--no-hover .fr-enlarge-link:hover {
  //background-color: initial !important;
  background-color: white !important;
}

.fr-card__start {
  margin-bottom: .75rem !important;
}

.fr-card__tags.fr-tags-group {
  order: 4;
}

.ad-movie-info-ad {
  display: flex;
  gap: 1rem;
  align-items: center;

  p {
    margin: 0;
  }

  + .ad-movie-info-ad {
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .fr-card.fr-card--horizontal-fifth {
    min-height: 330px;
  }
  .fr-card.fr-card--horizontal-fifth .fr-card__header {
    flex: 0 0 20%;
    width: 20%;
  }
}

.ad-movies-contact-block {
  &__info {
    order: 2;
  }

  &__image {
    order: 1;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .ad-movies-contact-block {
    &__info {
      order: 1;
    }

    &__image {
      order: 2;
    }
  }
}

.ad-movie-offers {
  h3 {
    font-weight: 500;
  }
}
