.ad-search-page .fr-pagination__list {
  justify-content: center;
}

.ad-search-page {
  .ad-filters-list {
    list-style-type: none;
    display: inline-block;
    padding: 0;

    &__item {
      display: inline-block;
    }

    &__text {
      display: inline-block;
      margin: 0 .5rem 0 0;
    }
  }

  &__list {
    list-style-type: none;
    padding-inline-start: 0;

    li::marker {
      content: none;
    }
  }
}

.ad-search__block-contact {
  background: var(--background-alt-blue-france);
}

.ad-legend {
  font-size: 1.125rem !important;
  font-weight: 700 !important;
  line-height: 1.5rem !important;
}

.ad-search__reset-btn {
  align-self: end;

  button {
    margin-bottom: .8rem;
  }
}

@media (min-width: 768px) {
  .ad-legend {
    font-size: 1.25rem !important;
  }
}
