.ad-search-block {
  background: var(--background-alt-blue-france);

  .fr-input {
    background: var(--background-default-grey);
    border: 1px solid var(--artwork-major-blue-france);
    box-shadow: inset 0 -2px 0 0 var(--artwork-major-blue-france);
  }
}
