.pg-paragraph {
  &__image {
    max-width: 100%;
  }

  .fr-btn {
    justify-content: center;
    width: 100%;

    @media (min-width: 576px) {
      width: fit-content;
    }
  }

  @media (min-width: 768px) {
    &__2-columns {
      flex-direction: row-reverse;
    }
  }
}

