.pg-video-iframe {
  iframe {
    width: 100%;
    height: 250px;

    @media (min-width: 768px) {
      height: 350px;
    }
  }

  &__source {
    margin: 1rem 0 2rem;

    p {
      margin: 0;
    }

    a,
    p {
      color: var(--text-mention-grey);
    }
  }

  &__transcription {
    background: white;
    margin-bottom: 2rem;
  }

  .fr-btn {
    display: block;
    width: 100%;
    text-align: center;

    @media (min-width: 576px) {
      width: fit-content;
    }
  }
}
