.pg-card {
  list-style-type: none;
  padding-inline-start: 0;

  &::marker {
    content: none;
  }

  .fr-card__link {
    margin-bottom: 0;
    margin-top: 2rem;
    order: 4;
  }

  .fr-card__content {
    padding: 1.5rem;
  }
}
