.pg-horizontal-card {
  .fr-card__link {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  .fr-card {
    &__header {
      @media (min-width: 768px) {
        flex: 0 0 30%;
        width: 30%;
      }
    }
  }
}
