<article{{ attributes }}>

  <div{{ content_attributes }}>
    <div class="block--is-blue">
      <div class="fr-container fr-pt-3w fr-pb-3w">
        <h1>{{ node.title.value }}</h1>
      </div>
    </div>
    {{ content }}
  </div>
</article>
