{% set directors = node.field_directors.entity %}

{% set has_ad = 'Non' %}
{% set title = node.title.value %}

<div class="fr-mt-3w fr-mb-3w">
  {% set synopsis = node.field_synopsis.value|render|striptags %}

  {% if synopsis is empty %}
    {% set synopsis = 'Movies ipsum Accio Brain! The mind is not a book, to be opened at will and examined at leisure. Thoughts are not etched on the inside of skulls, to be perused by an invader. The mind is a complex and many-layered thing. Dobby is free.' %}
  {% endif %}

  {% if node.field_has_ad.value %}
    {% set has_ad = 'Oui' %}
    {% set title = {
      '#type': 'html_tag',
      '#tag': 'a',
      '#value': node.title.value,
      '#attributes': {
        'href': url,
      }
    } %}

    {{ pattern('card', {
      horizontal_ratio: 'tier',
      enlarge_link: true,
      title_tag: 'p',
      title: title,
      description: synopsis
    }, 'horizontal') }}

  {% else %}

    {{ pattern('card', {
      horizontal_ratio: 'tier',
      enlarge_link: true,
      title_tag: 'p',
      title: title,
      description: synopsis
    }, 'horizontal') }}

  {% endif %}

</div>
