<div class="fr-container fr-mb-4w">
  <h1>{{ title }}</h1>
  <div class="fr-container--fluid">
    {# <ol> because genres are sorted in alphabetical order #}
    <ol class="fr-grid-row fr-grid-row--gutters ad-genres-page">
      {{ genres }}
    </ol>
  </div>
</div>
