.fr-card:not(.fr-card--no-border):not(.fr-card--shadow) {
  background-size: 100% 2px, 2px 100%, 2px 100%, 100% 2px;
  padding: 2px;
}

.fr-tile {
  background-size: 100% 2px,2px 100%,2px 100%,100% 2px;
  padding: 1.5rem 0 1rem 0;
}

.fr-badge {
  text-transform: math-auto;
  &--purple-glycine {
    color: #4B2639;
  }
}

.fr-breadcrumb {
  margin-bottom: 1rem !important;
  margin-top: 1.5rem;
  margin-left: 0;
  margin-right: 0;
}
