.fr-card:not(.fr-card--no-border):not(.fr-card--shadow) {
  background-size: 100% 2px, 2px 100%, 2px 100%, 100% 2px;
}

.fr-tile {
  background-size: 100% 2px,2px 100%,2px 100%,100% 2px;
}

.fr-badge {
  text-transform: math-auto;
  &--purple-glycine {
    color: #4B2639;
  }
}

.fr-breadcrumb {
  margin: 1.5rem 0 1.5rem;
}
