.ad-movies-list {
  list-style-type: none;
  padding-left: 0;
}

.ad-movies-infos-title {
  margin: .5rem 0;
}

.ad-movie__block-contact {
  background: var(--background-alt-blue-france);
}

.ad-watch-movie-block__list {
  list-style-type: none;
  padding-left: 0;
}

.ad-watch-movie-block__list-platforms {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.ad-watch-movie-block__platform {
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .ad-watch-movie-block__platform {
    width: calc(50% - 1rem);
  }
}

.fr-card--no-hover .fr-enlarge-link:hover {
  background-color: initial !important;
}

.fr-card__start {
  margin-bottom: .75rem !important;
}

.fr-card__tags.fr-tags-group {
  order: 4;
}

@media (min-width: 768px) {
  .fr-card.fr-card--horizontal-fifth {
    min-height: 330px;
  }
  .fr-card.fr-card--horizontal-fifth .fr-card__header {
    flex: 0 0 20%;
    width: 20%;
  }
}

