<div class="block">
  <div class="fr-container">
    <div class="fr-grid-row">
      <div class="fr-col-12">
        <div class="fr-pt-3w fr-pt-md-7w fr-pb-3w fr-pb-md-7w">
          <h1>{{ title }}</h1>
          {{ text|raw }}
          {{ form }}
        </div>
      </div>
    </div>
  </div>
</div>
